.SearchPage {
padding: 20px;
}

.searchpage-info > p {
 margin-bottom: 10px;
 font-size: 14px;
}

.searchpage-info > h3 {
  margin-bottom: 30px;
}

.searchpage-info > button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
}